<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{common/head::common-head}"/>

  <body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
      <header th:replace="~{common/top::common-top}"/>

      <aside th:replace="~{common/left::common-left}"/>

      <div class="content-wrapper">
        <section class="content-header">
          <h1>工序管理<small>查询\添加\修改</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Layout</a></li>
            <li class="active">Fixed</li>
          </ol>
        </section>
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box box-success">

                <div class="box-body">

                  <!-- 添加搜索条件 -->
                  <div class="box-body">
                    <div class="row">
                      <form id="searchForm" action="" onsubmit="return false;">

                        <div class="col-xs-2">
                          <select class="form-control" name="name">
                            <option value="">请选组</option>
                            <option value="name">YY</option>
                          </select>
                        </div>

                        <div class="col-xs-2">
                          <input type="text" name="keyWords" class="form-control" placeholder="关键字">
                        </div>
                        <div class="col-xs-2">
                          <button type="submit" class="btn bg-olive btn-flat">查询</button>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div id="toolbar">
                    <a th:href="@{/lineItems/new}" type="button" class="btn bg-maroon btn-flat">添加</a>
                    <button type="button" data-ope="delete" class="btn bg-olive btn-flat">删除</button>
                    <button type="button" data-ope="edit" class="btn bg-orange btn-flat">编辑</button>
                  </div>
                  <table id="lineItem_table"></table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer th:replace="~{common/footer::common-footer}"/>

      <aside th:replace="~{common/setting::common-setting}"/>
      <script th:src="@{/static/bower_components/table/bootstrap-table.js}"></script>
      <script th:src="@{/static/bower_components/table/bootstrap-table-zh-CN.js}"></script>
      <script th:src="@{/static/dist/js/request.js}"></script>
      <link rel="stylesheet" th:href="@{/static/bower_components/table/bootstrap-table.css}">
    </div>
  </body>

  <!-- page script -->
  <script type="text/javascript">
	  $(function (){
		  var $table;
		  $("#searchForm").on("submit",function(e){
			  var param = $(this).serializeObject();
			  $table.bootstrapTable('refresh',{query:param});
			  return false;
		  });

		  $("#toolbar > button").click(function(){
			  var idArray = $table.bootstrapTable('getAllSelections');
			  if(idArray.length==0){
				  alert("至少选择一条记录");
				  return;
			  }
			  idArray = $.map(idArray,function(item){
				  return item.id;
			  });
			  var ope = $(this).data("ope");
			  if("delete"==ope){
				  var ids = idArray.join(",");
				  request.ajax("[[@{/}]]/lineItems/"+ids,"delete",{},true,function(data){
					  if(data.success){
						  $table.bootstrapTable('refresh');
					  }else{
						  alert(data.msg);
					  }
				  });
			  }else if("edit"==ope){
				  //界面跳转
				  window.location.href="[[@{/}]]/lineItems/"+idArray[0]+"/edit";
			  }
		  });

		  var queryUrl = '[[@{/}]]lineItems';
		  $table = $('#lineItem_table').bootstrapTable({
			  url: queryUrl,                      //请求后台的URL（*）
			  method: 'GET',                      //请求方式（*）
			  toolbar: '#toolbar',                //工具按钮用哪个容器
			  striped: true,                      //是否显示行间隔色
			  cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
			  pagination: true,                   //是否显示分页（*）
			  sortable: true,                     //是否启用排序
			  sortOrder: "asc",                   //排序方式

			  sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）

			  pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
			  pageSize: 10,                       //每页的记录行数（*）
			  pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）

			  clickToSelect: true,                //是否启用点击选中行
			  uniqueId: "id",                     //每一行的唯一标识，一般为主键列
			  //得到查询的参数
			  queryParams : function (params) {
				  var temp = {
					  pageStart: (params.offset / params.limit) + 1,   //页码
					  sort: params.sort,      //排序列名
					  sortOrder: params.order //排位命令（desc，asc）
				  };
				  return temp;
			  },

        columns: [{
            checkbox: true,  
            visible: true                  //是否显示复选框  
        },{
            field: 'name',
            title: '工序名'
        },{
            field: 'icon',
            title: '图标'
        },{
            field: 'mangerId',
            title: '主管'
        },{
            field: 'position',
            title: '位置'
        },{
            field: 'orderNum',
            title: '顺序'
        },{
            field: 'lineId',
            title: '线路'
        },{
            field: 'stationId',
            title: '工序'
        }],
           
			  onLoadError: function () {
				  //加载失败触发
			  },
			  responseHandler: function(res) {
				  return {
					  "total": res.total,//总页数
					  "rows": res.data   //数据
				  };
			  }
		  });
	  });
  </script>
</html>