<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="~{common/head::common-head}"/>
  <script th:src="@{/static/bower_components/table/bootstrap-table.js}"></script>
  <script th:src="@{/static/bower_components/table/bootstrap-table-zh-CN.js}"></script>
  <script th:src="@{/static/dist/js/request.js}"></script>
  <link rel="stylesheet" th:href="@{/static/bower_components/table/bootstrap-table.css}">
  <title>添加LineItem</title>
</head>

  
  <body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
      <header th:replace="~{common/top::common-top}"/>
    
      <aside th:replace="~{common/left::common-left}"/>
    
      <div class="content-wrapper">
        <section class="content-header">
          <h1 th:text="${#strings.isEmpty(id) ? '添加工序':'编辑工序'}"></h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>系统管理</a></li>
            <li><a href="#">工序管理</a></li>
            <li class="active">列表</li>
          </ol>
        </section>
        
        <!-- Main content -->
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- right column -->
            <div class="col-md-12">
              <!-- Horizontal Form -->
              <div class="box box-info">
                <!-- form start -->
                <form class="form-horizontal" th:action="@{/lineItems/}+${#strings.isEmpty(lineItem.id)?'':lineItem.id}" th:method="post" th:object="${lineItem}">
                  <input type="hidden" name="id" th:value="*{id}">
                  <input type="hidden" name="_method" th:value="*{#strings.isEmpty(id) ? 'POST':'PUT'}">
    
                  <div class="box-body">   

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="orderNum" class="col-sm-2 control-label">顺序</label>
                        <div class="col-sm-10">
                          <input type="text" id="orderNum" name="orderNum" th:value="*{orderNum}" class="form-control" placeholder="顺序" data-bv-notempty="true"/>
                        </div>
                      </div>
  	  
                      <div class="form-group">
                        <label for="lineId" class="col-sm-2 control-label">线路</label>
                        <div class="col-sm-10">
                          <select class="form-control select2" style="width: 100%;" id="lineId" name="lineId" data-bv-notempty="true"></select>
                        </div>
                      </div>
                    </div>
  	  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="stationId" class="col-sm-2 control-label">工艺</label>
                        <div class="col-sm-10">
                          <select class="form-control select2" style="width: 100%;" id="stationId" name="stationId" data-bv-notempty="true"></select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="command" class="col-sm-2 control-label">工作指令</label>
                        <div class="col-sm-10">
                          <input type="text" id="command" name="command" th:value="*{command}" class="form-control" placeholder="工作指令" data-bv-notempty="true"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="input" class="col-sm-2 control-label">原材料</label>
                        <div class="col-sm-10">
                          <textarea class="form-control select2" th:text="*{input}" rows="2" cols="10" id="input" name="input" data-bv-notempty="true"></textarea>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="box-footer">
                    <button type="reset" class="btn btn-default btn-flat">重 置</button>
                    <button type="submit" class="btn btn-success btn-flat" th:text="${#strings.isEmpty(id) ? '添加':'编辑'}"></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer th:replace="~{common/footer::common-footer}"/>
    
      <aside th:replace="~{common/setting::common-setting}"/>
    </div>


    <!-- 选择名称对话框 -->
    <div id="modal_material" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myLargeModalLabel">请选择名称</h4>
          </div>
          <div class="modal-body">
            <div class="row ">
              <form id="searchForm" action="" onsubmit="return false;">
                <div class="col-xs-2">
                  <select class="form-control" name="key" id="query_key"> <option value="barcode">条码</option> <option value="name">名称</option> </select>
                </div>
                <div class="col-xs-2">
                  <input type="text" id="query_value" name="value" class="form-control" placeholder="关键字" />
                </div>
                <div class="col-xs-4">
                  <button type="submit" class="btn bg-olive btn-flat">查询</button>
                </div>
              </form>
            </div>
            <div id="materialToolbar">
              <button id="btn_batch_purchase" type="button" class="btn bg-olive btn-flat">批量下单</button>
            </div>
            <table id="material_table"></table>
          </div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
        $(function(){
          var $materialTable;
            $("form[id='lineItem']").bootstrapValidator({
          	  feedbackIcons: {
          		  valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                }
            });
          $("#lineId").select2({
            placeholder:'请选择线路',//默认文字提示
            tags: false,//允许手动添加
            allowClear: true,//允许清空
            ajax: {
              url: '[[@{/}]]lines',
              type:'get',
              dataType: 'json',
              data: function (params) {
                return {name: params.term || ''};
              },
              processResults: function (data) {
                var array = new Array();
                data = data.data;
                if (data) {
                  for (var i = 0; i < data.length; i++) {
                    array.push({id: data[i].id, text: data[i].name});
                  }
                }
                var result = new Object();
                result.results = array;
                return result;
              }
            }
          });
          $("#stationId").select2({
            placeholder:'请选择工艺',//默认文字提示
            tags: false,//允许手动添加
            allowClear: true,//允许清空
            ajax: {
              url: '[[@{/}]]stations',
              type:'get',
              dataType: 'json',
              data: function (params) {
                return {name: params.term || ''};
              },
              processResults: function (data) {
                var array = new Array();
                data = data.data;
                if (data) {
                  for (var i = 0; i < data.length; i++) {
                    array.push({id: data[i].id, text: data[i].name});
                  }
                }
                var result = new Object();
                result.results = array;
                return result;
              }
            }
          });

          $("textarea[name=input]").on("click",function(){
            $("#modal_material").modal('show');
          });

          //监听
          $("#btn_batch_purchase").on("click",function(){
            //获取table选中的
            var materials = $materialTable.bootstrapTable('getAllSelections');
            //关闭模态对话框
            $("#modal_material").modal('hide');
            if(materials.length==0){
              return;
            }
            var inputObj = [];
            $.each(materials,function(index,item){
              inputObj.push({"id":item.id,"name":item.name,"count":1});
            });
            $("#input").val(JSON.stringify(inputObj));
          });

          //modal_material显示会触发该事件
          $('#modal_material').on('show.bs.modal', function (e) {

            //第一次的时候才需要加载名称信息
            if($materialTable==null){
              var queryUrl = '[[@{/}]]/materials';
              $materialTable = $('#material_table').bootstrapTable({
                url: queryUrl,            //请求后台的URL（*）
                method: 'GET',            //请求方式（*）
                toolbar: '#materialToolbar',        //工具按钮用哪个容器
                striped: true,            //是否显示行间隔色
                cache: false,             //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,           //是否显示分页（*）
                sortable: true,           //是否启用排序
                sortOrder: "asc",           //排序方式

                sidePagination: "server",       //分页方式：client供应商端分页，server服务端分页（*）

                pageNumber: 1,            //初始化加载第一页，默认第一页,并记录
                pageSize: 10,             //每页的记录行数（*）
                pageList: [10, 25, 50, 100],    //可供选择的每页的行数（*）

                clickToSelect: true,        //是否启用点击选中行
                uniqueId: "id",           //每一行的唯一标识，一般为主键列

                //得到查询的参数
                queryParams : function (params) {
                  var temp = {
                    pageNum: (params.offset / params.limit) + 1,   //页码
                    pageSize: params.limit             //每页显示多条
                  };
                  return temp;
                },
                columns: [{
                  checkbox: true,
                  visible: true          //是否显示复选框
                },{
                  field: 'name',
                  title: '名称'
                },{
                  field: 'num',
                  title: '编号'
                },{
                  field: 'material',
                  title: '材料'
                },{
                  field: 'technology',
                  title: '工艺'
                },{
                  field: 'oriPrice',
                  title: '原价'
                },{
                  field: 'price',
                  title: '现价'
                },{
                  field: 'size',
                  title: '尺寸'
                },{
                  field: 'unit',
                  title: '单位'
                },{
                  field: 'unitWeight',
                  title: '单位重量'
                },{
                  field: 'detailImg',
                  title: '图片'
                }],
                responseHandler: function (res) {
                  return {
                    "total": res.total,//总页数
                    "rows": res.data   //数据
                  };
                }
              });
            }else{
              $materialTable.bootstrapTable('refresh');
            }
          });
        });
    </script>
  </body>
</html>
 
 
