<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{common/head::common-head}"/>
  
  <body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
      <header th:replace="~{common/top::common-top}"/>
    
      <aside th:replace="~{common/left::common-left}"/>
    
      <div class="content-wrapper">
        <section class="content-header">
          <h1 th:text="${#strings.isEmpty(id) ? '添加任务':'编辑任务'}"></h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>系统管理</a></li>
            <li><a href="#">任务管理</a></li>
            <li class="active">列表</li>
          </ol>
        </section>
        
        <!-- Main content -->
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- right column -->
            <div class="col-md-12">
              <!-- Horizontal Form -->
              <div class="box box-info">
                <!-- form start -->
                <form class="form-horizontal" th:action="@{/tasks/}+${#strings.isEmpty(task.id)?'':task.id}" th:method="post" th:object="${task}">
                  <input type="hidden" name="id" th:value="*{id}">
                  <input type="hidden" name="_method" th:value="*{#strings.isEmpty(id) ? 'POST':'PUT'}">
    
                  <div class="box-body">   
                  
  	  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">任务名</label>
                        <div class="col-sm-10">
                          <input type="text" id="name" name="name" th:value="*{name}" class="form-control" placeholder="任务名" data-bv-notempty="true"/>
                        </div>
                      </div>
  	  
                      <div class="form-group">
                        <label for="taskCount" class="col-sm-2 control-label">任务数量</label>
                        <div class="col-sm-10">
                          <input type="text" id="taskCount" name="taskCount" th:value="*{taskCount}"  class="form-control" placeholder="任务数量" data-bv-notempty="true"/>
                        </div>
                      </div>
                    </div>
  	  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="leftCount" class="col-sm-2 control-label">剩余数量</label>
                        <div class="col-sm-10">
                          <input type="text" id="leftCount" name="leftCount" th:value="*{leftCount}" class="form-control" placeholder="剩余数量" data-bv-notempty="true"/>
                        </div>
                      </div>
  	  
                      <div class="form-group">
                        <label for="status" class="col-sm-2 control-label">任务状态</label>
                        <div class="col-sm-10">
                          <input type="text" id="status" name="status" th:value="*{status}"  class="form-control" placeholder="任务状态" data-bv-notempty="true"/>
                        </div>
                      </div>
                    </div>
  	  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="passRate" class="col-sm-2 control-label">合格率</label>
                        <div class="col-sm-10">
                          <input type="text" id="passRate" name="passRate" th:value="*{passRate}" class="form-control" placeholder="合格率" data-bv-notempty="true"/>
                        </div>
                      </div>
  	  
                      <div class="form-group">
                        <label for="stationName" class="col-sm-2 control-label">工作台</label>
                        <div class="col-sm-10">
                          <input type="text" id="stationName" name="stationName" th:value="*{stationName}"  class="form-control" placeholder="工作台" data-bv-notempty="true"/>
                        </div>
                      </div>
                    </div>
  	  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="stationId" class="col-sm-2 control-label">工作台</label>
                        <div class="col-sm-10">
                          <input type="text" id="stationId" name="stationId" th:value="*{stationId}" class="form-control" placeholder="工作台" data-bv-notempty="true"/>
                        </div>
                      </div>
  	  
                      <div class="form-group">
                        <label for="bookNum" class="col-sm-2 control-label">订单编号</label>
                        <div class="col-sm-10">
                          <input type="text" id="bookNum" name="bookNum" th:value="*{bookNum}"  class="form-control" placeholder="订单编号" data-bv-notempty="true"/>
                        </div>
                      </div>
                    </div>
  	  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="startDate" class="col-sm-2 control-label">开始日期</label>
                        <div class="col-sm-10">
                          <input type="text" id="startDate" name="startDate" th:value="*{startDate}" class="form-control" placeholder="开始日期" />
                        </div>
                      </div>
  	  
                      <div class="form-group">
                        <label for="dateline" class="col-sm-2 control-label">截止日期</label>
                        <div class="col-sm-10">
                          <input type="text" id="dateline" name="dateline" th:value="*{dateline}"  class="form-control" placeholder="截止日期" data-bv-notempty="true"/>
                        </div>
                      </div>
                    </div>
  	  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="level" class="col-sm-2 control-label">优先级</label>
                        <div class="col-sm-10">
                          <input type="text" id="level" name="level" th:value="*{level}" class="form-control" placeholder="优先级" />
                        </div>
                      </div>
  	  
                      <div class="form-group">
                        <label for="input" class="col-sm-2 control-label">原材料</label>
                        <div class="col-sm-10">
                          <input type="text" id="input" name="input" th:value="*{input}"  class="form-control" placeholder="原材料" />
                        </div>
                      </div>
                    </div>
  	  
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="extraCount" class="col-sm-2 control-label">额外补充</label>
                        <div class="col-sm-10">
                          <input type="text" id="extraCount" name="extraCount" th:value="*{extraCount}" class="form-control" placeholder="额外补充" />
                        </div>
                      </div>
      
     
                  </div>
                  <div class="box-footer">
                    <button type="reset" class="btn btn-default btn-flat">重 置</button>
                    <button type="submit" class="btn btn-success btn-flat" th:text="${#strings.isEmpty(id) ? '添加':'编辑'}"></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer th:replace="~{common/footer::common-footer}"/>
    
      <aside th:replace="~{common/setting::common-setting}"/>
    </div>
    
    <script type="text/javascript">
        $(function(){
            $("form[id='task']").bootstrapValidator({
          	  feedbackIcons: {
          		  valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                }
            }); 
        });
    </script>
  </body>
</html>
 
 
