<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{common/head::common-head}"/>

  <body class="hold-transition skin-blue fixed sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
		<header th:replace="~{common/top::common-top}"/>

		<aside th:replace="~{common/left::common-left}"/>


	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Fixed Layout
				<small>Blank example to the fixed layout</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Layout</a></li>
				<li class="active">Fixed</li>
			</ol>
		</section>


		<section class="content">
			<!-- Info boxes -->
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="info-box">
						<span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

						<div class="info-box-content">
							<span class="info-box-text">CPU Traffic</span>
							<span class="info-box-number">90<small>%</small></span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<!-- /.col -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="info-box">
						<span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

						<div class="info-box-content">
							<span class="info-box-text">Likes</span>
							<span class="info-box-number">41,410</span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<!-- /.col -->

				<!-- fix for small devices only -->
				<div class="clearfix visible-sm-block"></div>

				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="info-box">
						<span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

						<div class="info-box-content">
							<span class="info-box-text">Sales</span>
							<span class="info-box-number">760</span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<!-- /.col -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="info-box">
						<span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">New Members</span>
							<span class="info-box-number">2,000</span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-md-12">
					<div class="box">
						<div class="box-header with-border">
							<h3 class="box-title">生产路线</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<!--绘制路线-->
									<div id="xx" th:style="'position: relative;height: 400px;background:url(' + @{/static/img/grid.png} + ');'">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="box">
						<div class="box-header with-border">
							<h3 class="box-title">订单报表</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<!--绘制路线-->
									<div id="book" th:style="'position: relative;height: 400px;'">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-md-12">
					<div class="box">
						<div class="box-header with-border">
							<h3 class="box-title">订单报表</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<!--绘制路线-->
									<div id="product" th:style="'position: relative;height: 400px;'">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- /.content-wrapper -->

		<footer th:replace="~{common/footer::common-footer}"/>

		<aside th:replace="~{common/setting::common-setting}"/>
</div>
<!-- ./wrapper -->
  <script type="text/javascript">
	  $(function(){

		  request.ajax(request.contextPath+"/lines/suammry/",'get','',true,function(data){

		  })
	  });

	  //订单总量异步数据加载echars
	  var myChart = echarts.init(document.getElementById('book'));
	  myChart.setOption({
		  title: {
			  text: '12个月订单量'
		  },
		  tooltip: {},
		  legend: {
			  data:['销量']
		  },
		  xAxis: {
			  data: []
		  },
		  yAxis: {},
		  series: [{
			  name: '销量',
			  type: 'bar',
			  data: []
		  }]
	  });

	  // 异步加载数据
	  $.get('books/bookCount').done(function (data) {
		  // 填入数据
		  myChart.setOption({
			  xAxis: {
				  data: data.data.months
			  },
			  series: [{
				  // 根据名字对应到相应的系列
				  name: '订单总量',
				  data: data.data.counts
			  }]
		  });
	  });


	  //产品异步数据加载echars
	  var myChart = echarts.init(document.getElementById('product'));
	  myChart.setOption({
		  title: {
			  text: '12个月订单量'
		  },
		  tooltip: {},
		  legend: {
			  data:['销量']
		  },
		  xAxis: {
			  data: []
		  },
		  yAxis: {},
		  series: [{
			  name: '销量',
			  type: 'bar',
			  data: []
		  }]
	  });

	  // 异步加载数据
	  $.get('products/productCount').done(function (data) {
		  console.log(data.data.months);
		  // 填入数据
		  myChart.setOption({
			  xAxis: {
				  data: data.data.months
			  },
			  series: [{
				  // 根据名字对应到相应的系列
				  name: '订单总量',
				  data: data.data.counts
			  }]
		  });
	  });

  </script>
</body>
</html>