<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhy.plateform.dao.BookItemMapper">

  <resultMap id="BaseResultMap" type="bookItem" >
      <id column="id" property="id"/>
      <result column="bookNum" property="bookNum"/>
      <result column="name" property="name"/>
      <result column="img" property="img"/>
      <result column="price" property="price"/>
      <result column="totalPrice" property="totalPrice"/>
      <result column="totalCount" property="totalCount"/>
      <result column="productId" property="productId"/>
  </resultMap>

  <sql id="Base_Column_List" >
      id,
      bookNum,
      name,
      img,
      price,
      totalPrice,
      totalCount,
      productId
  </sql>

  <!--根据Id查询-->
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
      select <include refid="Base_Column_List" /> from bookItem where id = #{id}
  </select>


  <!-- 多条件查询 -->
  <select id="findBySelective" resultMap="BaseResultMap" parameterType="com.jhy.plateform.query.BookItemQuery">
      select <include refid="Base_Column_List" /> from bookItem
      <trim prefix="where" prefixOverrides="and |or ">
         <if test="keyWords != null and keyWords != ''">
            <bind name="likeKeyWords" value="'%' + _parameter.keyWords + '%'" />
            and bookNum like #{likeKeyWords}
         </if>
      </trim>
      order by id DESC
  </select>


  <!-- 删除 -->
  <delete id="deleteById" parameterType="java.lang.String" >
      delete from bookItem where id = #{id}
  </delete>

  <!-- 批量删除 -->
  <delete id="deleteByIds" parameterType="java.lang.String">
      delete from bookItem where id in
      <foreach item="id" collection="array" open="(" separator="," close=")">
          #{id}
      </foreach>
  </delete>

  <!--部分字段允许为空-->
  <insert id="add" parameterType="bookItem" >
    insert into bookItem
    <trim prefix="(" suffix=")" suffixOverrides="," >
        id,
        bookNum,
        name,
        img,
        price,
        totalPrice,
        totalCount,
        productId,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{id},
        #{bookNum},
        #{name},
        #{img},
        #{price},
        #{totalPrice},
        #{totalCount},
        #{productId},
    </trim>
  </insert>

  <!--更新-->
  <update id="update" parameterType="bookItem" >
      update bookItem
      <set>
          <if test="bookNum != null and bookNum != ''" >
              bookNum = #{bookNum},
          </if>
          <if test="name != null and name != ''" >
              name = #{name},
          </if>
          <if test="img != null and img != ''" >
              img = #{img},
          </if>
          <if test="price != null" >
              price = #{price},
          </if>
          <if test="totalPrice != null" >
              totalPrice = #{totalPrice},
          </if>
          <if test="totalCount != null" >
              totalCount = #{totalCount},
          </if>
          <if test="productId != null" >
              productId = #{productId},
          </if>
      </set>
      where id = #{id}
  </update>
	
</mapper>