<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhy.plateform.dao.BookMapper">

  <resultMap id="BaseResultMap" type="com.jhy.plateform.domain.Book" >
      <id column="id" property="id"/>
      <result column="customerNum" property="customerNum"/>
      <result column="num" property="num"/>
      <result column="createDate" property="createDate"/>
      <result column="endDate" property="endDate"/>
      <result column="price" property="price"/>
      <result column="customerId" property="customerId"/>
      <result column="lineId" property="lineId"/>
      <result column="userId" property="userId"/>
      <result column="bonus" property="bonus"/>
      <result column="remark" property="remark"/>
      <result column="status" property="status"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
      id,
      customerNum,
      num,
      createDate,
      endDate,
      price,
      customerId,
      lineId,
      userId,
      bonus,
      remark,
      status
  </sql>
  
  <!--根据Id查询-->
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
      select <include refid="Base_Column_List" /> from book where id = #{id}
  </select>
  
  
  <!-- 多条件查询 -->
  <select id="findBySelective" resultMap="BaseResultMap" parameterType="com.jhy.plateform.query.BookQuery">
      select <include refid="Base_Column_List" /> from book
      <trim prefix="where" prefixOverrides="and |or ">
         <if test="keyWords != null and keyWords != ''">
            <bind name="likeKeyWords" value="'%' + _parameter.keyWords + '%'" />
            and name like #{likeKeyWords}
         </if>
      </trim>
      order by id DESC
  </select>
  
  
  <!-- 删除 -->
  <delete id="deleteById" parameterType="java.lang.String" >
      delete from book where id = #{id}
  </delete>
  
  <!-- 批量删除 -->
  <delete id="deleteByIds" parameterType="java.lang.String">
      delete from book where id in
      <foreach item="id" collection="array" open="(" separator="," close=")">
          #{id}
      </foreach>
  </delete>
  
  <!--部分字段允许为空-->
  <insert id="add" parameterType="com.jhy.plateform.domain.Book" >
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides="," >
        id,
        customerNum,
        num,
        createDate,
        endDate,
        price,
        customerId,
        lineId,
        userId,
        <if test="bonus != null" >
            bonus,
        </if>
        <if test="remark != null and remark != ''" >
            remark,
        </if>
        status
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{id},
        #{customerNum},
        #{num},
        #{createDate},
        #{endDate},
        #{price},
        #{customerId},
        #{lineId},
        #{userId},
        <if test="bonus != null" >
            #{bonus},
        </if>
        <if test="remark != null and remark != ''" >
            #{remark},
        </if>
        #{status}
    </trim>
  </insert>
  
  <!--更新--> 
  <update id="update" parameterType="com.jhy.plateform.domain.Book" >
      update book
      <set>
          <if test="customerNum != null and customerNum != ''" >
              customerNum = #{customerNum},
          </if>
          <if test="num != null and num != ''" >
              num = #{num},
          </if>
          <if test="createDate != null" >
              createDate = #{createDate},
          </if>
          <if test="endDate != null" >
              endDate = #{endDate},
          </if>
          <if test="price != null" >
              price = #{price},
          </if>
          <if test="customerId != null" >
              customerId = #{customerId},
          </if>
          <if test="lineId != null" >
              lineId = #{lineId},
          </if>
          <if test="userId != null" >
              userId = #{userId},
          </if>
          <if test="bonus != null" >
              bonus = #{bonus},
          </if>
          <if test="remark != null and remark != ''" >
              remark = #{remark},
          </if>
          <if test="status != null" >
              status = #{status}
          </if>
      </set>
      where id = #{id}
  </update>
	
</mapper>