<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhy.plateform.dao.DictValMapper">

  <resultMap id="BaseResultMap" type="dictVal" >
      <id column="id" property="id"/>
      <result column="name" property="name"/>
      <result column="value" property="value"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
      id,
      name,
      value
  </sql>
  
  <!--根据Id查询-->
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
      select <include refid="Base_Column_List" /> from t_dictval where id = #{id}
  </select>
  
  
  <!-- 多条件查询 -->
  <select id="findBySelective" resultMap="BaseResultMap" parameterType="dictValQuery">
      select <include refid="Base_Column_List" /> from t_dictval
      <trim prefix="where" prefixOverrides="and |or ">
         <if test="keyWords != null and keyWords != ''">
            <bind name="likeKeyWords" value="'%' + _parameter.keyWords + '%'" />
            and name like #{likeKeyWords}
         </if>
         <if test="dictId != null and dictId != ''">
           and dictId = #{dictId}
         </if>
      </trim>
      order by value DESC
  </select>
  
  
  <!-- 删除 -->
  <delete id="deleteById" parameterType="java.lang.String" >
      delete from t_dictval where id = #{id}
  </delete>
  
  <!-- 批量删除 -->
  <delete id="deleteByIds" parameterType="java.lang.String">
      delete from t_dictval where id in
      <foreach item="id" collection="array" open="(" separator="," close=")">
          #{id}
      </foreach>
  </delete>
  
  <!--部分字段允许为空-->
  <insert id="add" parameterType="dictVal" >
    insert into t_dictval
    <trim prefix="(" suffix=")" suffixOverrides="," >
        name,
        value,
        dictId
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{name},
        #{value},
        #{dict.id}
    </trim>
  </insert>
  
  <!--更新--> 
  <update id="update" parameterType="dictVal" >
      update t_dictval
      <set>
          <if test="name != null and name != ''" >
              name = #{name},
          </if>
          <if test="value != null and value != ''" >
              value = #{value},
          </if>
          <if test="dict != null" >
              dictId = #{dict.id}
          </if>
      </set>
      where id = #{id}
  </update>
  
  <!-- 根据字典清除明细 -->
  <delete id="clearByDict" parameterType="INTEGER">
      delete from t_dictval where dictId =  #{dictId}
  </delete>
  
  <!-- 批量添加 -->
  <insert id="batchInsert" parameterType="java.util.List">
    insert into t_dictval (name,value,dictId) VALUES
    <foreach collection ="list" item="dictVal" separator =",">(#{dictVal.name},#{dictVal.value},#{dictVal.dict.id})</foreach>
  </insert>
</mapper>