<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhy.plateform.dao.LineItemMapper">

  <resultMap id="BaseResultMap" type="com.jhy.plateform.domain.LineItem" >
      <id column="id" property="id"/>
      <result column="name" property="name"/>
      <result column="icon" property="icon"/>
      <result column="mangerId" property="mangerId"/>
      <result column="position" property="position"/>
      <result column="orderNum" property="orderNum"/>
      <result column="lineId" property="lineId"/>
      <result column="stationId" property="stationId"/>
      <result column="command" property="command"/>
      <result column="input" property="input"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
      id,
      name,
      icon,
      mangerId,
      position,
      orderNum,
      lineId,
      stationId,
      command,
      input
  </sql>
  
  <!--根据Id查询-->
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
      select <include refid="Base_Column_List" /> from lineItem where id = #{id}
  </select>
  
  
  <!-- 多条件查询 -->
  <select id="findBySelective" resultMap="BaseResultMap" parameterType="com.jhy.plateform.query.LineItemQuery">
      select <include refid="Base_Column_List" /> from lineItem
      <trim prefix="where" prefixOverrides="and |or ">
         <if test="keyWords != null and keyWords != ''">
            <bind name="likeKeyWords" value="'%' + _parameter.keyWords + '%'" />
            and name like #{likeKeyWords}
         </if>
      </trim>
      order by id DESC
  </select>
  
  
  <!-- 删除 -->
  <delete id="deleteById" parameterType="java.lang.String" >
      delete from lineItem where id = #{id}
  </delete>
  
  <!-- 批量删除 -->
  <delete id="deleteByIds" parameterType="java.lang.String">
      delete from lineItem where id in
      <foreach item="id" collection="array" open="(" separator="," close=")">
          #{id}
      </foreach>
  </delete>
  
  <!--部分字段允许为空-->
  <insert id="add" parameterType="com.jhy.plateform.domain.LineItem" >
    insert into lineItem
    <trim prefix="(" suffix=")" suffixOverrides="," >
        name,
        icon,
        mangerId,
        position,
        orderNum,
        lineId,
        stationId,
        <if test="command != null and command !=''">
        command,
        </if>
        <if test="input != null and input !=''">
        input
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{name},
        #{icon},
        #{mangerId},
        #{position},
        #{orderNum},
        #{lineId},
        #{stationId},
        <if test="command != null and command !=''">
            #{command},
        </if>
        <if test="input != null and input !=''">
            #{input}
        </if>
    </trim>
  </insert>
  
  <!--更新--> 
  <update id="update" parameterType="com.jhy.plateform.domain.LineItem" >
      update lineItem
      <set>
          <if test="name != null and name != ''" >
              name = #{name},
          </if>
          <if test="icon != null and icon != ''" >
              icon = #{icon},
          </if>
          <if test="mangerId != null" >
              mangerId = #{mangerId},
          </if>
          <if test="position != null and position != ''" >
              position = #{position},
          </if>
          <if test="orderNum != null" >
              orderNum = #{orderNum},
          </if>
          <if test="lineId != null" >
              lineId = #{lineId},
          </if>
          <if test="stationId != null" >
              stationId = #{stationId},
          </if>
          <if test="command != null" >
              command = #{command},
          </if>
          <if test="input != null" >
              input = #{input}
          </if>
      </set>
      where id = #{id}
  </update>
	
</mapper>