<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhy.plateform.dao.LineMapper">

  <resultMap id="BaseResultMap" type="com.jhy.plateform.domain.Line" >
      <id column="id" property="id"/>
      <result column="name" property="name"/>
      <result column="num" property="num"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
      id,
      name,
      num
  </sql>
  
  <!--根据Id查询-->
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
      select <include refid="Base_Column_List" /> from line where id = #{id}
  </select>
  
  
  <!-- 多条件查询 -->
  <select id="findBySelective" resultMap="BaseResultMap" parameterType="com.jhy.plateform.query.LineQuery">
      select <include refid="Base_Column_List" /> from line
      <trim prefix="where" prefixOverrides="and |or ">
         <if test="keyWords != null and keyWords != ''">
            <bind name="likeKeyWords" value="'%' + _parameter.keyWords + '%'" />
            and name like #{likeKeyWords}
         </if>
         <if test="name != null and name != ''">
            and name = #{name}
         </if>
      </trim>
      order by id DESC
  </select>
  
  
  <!-- 删除 -->
  <delete id="deleteById" parameterType="java.lang.String" >
      delete from line where id = #{id}
  </delete>
  
  <!-- 批量删除 -->
  <delete id="deleteByIds" parameterType="java.lang.String">
      delete from line where id in
      <foreach item="id" collection="array" open="(" separator="," close=")">
          #{id}
      </foreach>
  </delete>
  
  <!--部分字段允许为空-->
  <insert id="add" parameterType="com.jhy.plateform.domain.Line" >
    insert into line
    <trim prefix="(" suffix=")" suffixOverrides="," >
        id,
        name,
        num
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{id},
        #{name},
        #{num}
    </trim>
  </insert>
  
  <!--更新--> 
  <update id="update" parameterType="com.jhy.plateform.domain.Line" >
      update line
      <set>
          <if test="name != null and name != ''" >
              name = #{name},
          </if>
          <if test="num != null" >
              num = #{num}
          </if>
      </set>
      where id = #{id}
  </update>
	
</mapper>