<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhy.plateform.dao.MaterialTypeMapper">

    <resultMap id="BaseResultMap" type="materialType" >
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

   <!-- <resultMap id="BaseResultMapDict" type="materialType">
        <result column="type" property="type"/>
        <collection property="dictVals" ofType="materialTypeVal" >
            <result column="name" property="name"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>-->
  
  <sql id="Base_Column_List" >
      id,
      name
  </sql>
  
  <!--根据Id查询-->
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
      select <include refid="Base_Column_List" /> from materialType where id = #{id}
  </select>
  
  
  <!-- 多条件查询 -->
  <select id="findBySelective" resultMap="BaseResultMap" parameterType="com.jhy.plateform.query.MaterialTypeQuery">
      select <include refid="Base_Column_List" /> from materialType
      <trim prefix="where" prefixOverrides="and |or ">
         <if test="keyWords != null and keyWords != ''">
            <bind name="likeKeyWords" value="'%' + _parameter.keyWords + '%'" />
            and name like #{likeKeyWords}
         </if>
      </trim>
      order by name DESC
  </select>
  
  
  <!-- 删除 -->
  <delete id="deleteById" parameterType="java.lang.String" >
      delete from materialType where id = #{id}
  </delete>
  
  <!-- 批量删除 -->
  <delete id="deleteByIds" parameterType="java.lang.String">
      delete from materialType where id in
      <foreach item="id" collection="array" open="(" separator="," close=")">
          #{id}
      </foreach>
  </delete>
  
  <!--部分字段允许为空-->
  <insert id="add" parameterType="materialType" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into materialType
    <trim prefix="(" suffix=")" suffixOverrides="," >
        id,
        <if test="name != null and name != ''" >
            name,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{id},
        <if test="name != null and name != ''" >
            #{name},
        </if>
    </trim>
  </insert>
  
  <!--更新--> 
  <update id="update" parameterType="materialType" >
      update materialType
      <set>
          <if test="name != null and name != ''" >
              name = #{name},
          </if>
      </set>
      where id = #{id}
  </update>
<!--
    <select id="selectDict"  resultMap="BaseResultMapDict">
        SELECT c.type,d.name,d.value  FROM materialTypeval d LEFT JOIN materialType c ON d.dictId = c.id
    </select>-->
</mapper>