<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhy.plateform.dao.MaterialMapper">

  <resultMap id="BaseResultMap" type="com.jhy.plateform.domain.Material" >
      <id column="id" property="id"/>
      <result column="name" property="name"/>
      <result column="num" property="num"/>
      <result column="material" property="material"/>
      <result column="technology" property="technology"/>
      <result column="oriPrice" property="oriPrice"/>
      <result column="price" property="price"/>
      <result column="size" property="size"/>
      <result column="unit" property="unit"/>
      <result column="unitWeight" property="unitWeight"/>
      <result column="detailImg" property="detailImg"/>
      <result column="materialTypeId" property="materialTypeId"/>
      <result column="supplierId" property="supplierId"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
      id,
      name,
      num,
      material,
      technology,
      oriPrice,
      price,
      size,
      unit,
      unitWeight,
      detailImg,
      materialTypeId,
      supplierId
  </sql>
  
  <!--根据Id查询-->
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
      select <include refid="Base_Column_List" /> from material where id = #{id}
  </select>
  
  
  <!-- 多条件查询 -->
  <select id="findBySelective" resultMap="BaseResultMap" parameterType="com.jhy.plateform.query.MaterialQuery">
      select <include refid="Base_Column_List" /> from material
      <trim prefix="where" prefixOverrides="and |or ">
         <if test="keyWords != null and keyWords != ''">
            <bind name="likeKeyWords" value="'%' + _parameter.keyWords + '%'" />
            or name like #{likeKeyWords} or num like #{likeKeyWords}
         </if>
          <if test="name != null and name != ''">
              <bind name="likeName" value="'%' + _parameter.name + '%'" />
              and name like #{likeName}
          </if>
           <if test="materialTypeId != null and materialTypeId != ''">
              and materialTypeId = #{materialTypeId}
          </if>
           <if test="supplierId != null and supplierId != ''">
              and supplierId = #{supplierId}
          </if>
      </trim>
      order by id DESC
  </select>
  
  
  <!-- 删除 -->
  <delete id="deleteById" parameterType="java.lang.String" >
      delete from material where id = #{id}
  </delete>
  
  <!-- 批量删除 -->
  <delete id="deleteByIds" parameterType="java.lang.String">
      delete from material where id in
      <foreach item="id" collection="array" open="(" separator="," close=")">
          #{id}
      </foreach>
  </delete>
  
  <!--部分字段允许为空-->
  <insert id="add" parameterType="com.jhy.plateform.domain.Material" >
    insert into material
    <trim prefix="(" suffix=")" suffixOverrides="," >
        name,
        num,
        material,
        technology,
        oriPrice,
        price,
        size,
        unit,
        unitWeight,
        detailImg,
        materialTypeId,
        <if test="supplierId != null" >
            supplierId
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{name},
        #{num},
        #{material},
        #{technology},
        #{oriPrice},
        #{price},
        #{size},
        #{unit},
        #{unitWeight},
        #{detailImg},
        #{materialTypeId},
        <if test="supplierId != null" >
            #{supplierId}
        </if>
    </trim>
  </insert>
  
  <!--更新--> 
  <update id="update" parameterType="com.jhy.plateform.domain.Material" >
      update material
      <set>
          <if test="name != null and name != ''" >
              name = #{name},
          </if>
          <if test="num != null and num != ''" >
              num = #{num},
          </if>
          <if test="material != null and material != ''" >
              material = #{material},
          </if>
          <if test="technology != null and technology != ''" >
              technology = #{technology},
          </if>
          <if test="oriPrice != null" >
              oriPrice = #{oriPrice},
          </if>
          <if test="price != null" >
              price = #{price},
          </if>
          <if test="size != null and size != ''" >
              size = #{size},
          </if>
          <if test="unit != null" >
              unit = #{unit},
          </if>
          <if test="unitWeight != null" >
              unitWeight = #{unitWeight},
          </if>
          <if test="detailImg != null and detailImg != ''" >
              detailImg = #{detailImg},
          </if>
          <if test="materialTypeId != null" >
              materialTypeId = #{materialTypeId},
          </if>
          <if test="supplierId != null" >
              supplierId = #{supplierId}
          </if>
      </set>
      where id = #{id}
  </update>
	
</mapper>