<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhy.plateform.dao.StationMapper">

  <resultMap id="BaseResultMap" type="com.jhy.plateform.domain.Station" >
      <id column="id" property="id"/>
      <result column="name" property="name"/>
      <result column="icon" property="icon"/>
      <result column="managerId" property="managerId"/>
      <result column="position" property="position"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
      id,
      name,
      icon,
      managerId,
      position
  </sql>
  
  <!--根据Id查询-->
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
      select <include refid="Base_Column_List" /> from station where id = #{id}
  </select>
  
  
  <!-- 多条件查询 -->
  <select id="findBySelective" resultMap="BaseResultMap" parameterType="com.jhy.plateform.query.StationQuery">
      select <include refid="Base_Column_List" /> from station
      <trim prefix="where" prefixOverrides="and |or ">
         <if test="keyWords != null and keyWords != ''">
            <bind name="likeKeyWords" value="'%' + _parameter.keyWords + '%'" />
            and name like #{likeKeyWords}
         </if>
      </trim>
      order by id DESC
  </select>
  
  
  <!-- 删除 -->
  <delete id="deleteById" parameterType="java.lang.String" >
      delete from station where id = #{id}
  </delete>
  
  <!-- 批量删除 -->
  <delete id="deleteByIds" parameterType="java.lang.String">
      delete from station where id in
      <foreach item="id" collection="array" open="(" separator="," close=")">
          #{id}
      </foreach>
  </delete>
  
  <!--部分字段允许为空-->
  <insert id="add" parameterType="com.jhy.plateform.domain.Station" >
    insert into station
    <trim prefix="(" suffix=")" suffixOverrides="," >
        name,
        icon,
        managerId,
        <if test="position != null and position != ''" >
            position
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{name},
        #{icon},
        #{managerId},
        <if test="position != null and position != ''" >
            #{position}
        </if>
    </trim>
  </insert>
  
  <!--更新--> 
  <update id="update" parameterType="com.jhy.plateform.domain.Station" >
      update station
      <set>
          <if test="name != null and name != ''" >
              name = #{name},
          </if>
          <if test="icon != null and icon != ''" >
              icon = #{icon},
          </if>
          <if test="managerId != null" >
              managerId = #{managerId},
          </if>
          <if test="position != null and position != ''" >
              position = #{position}
          </if>
      </set>
      where id = #{id}
  </update>
	
</mapper>