<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhy.plateform.dao.SupplierMapper">

  <resultMap id="BaseResultMap" type="com.jhy.plateform.domain.Supplier" >
      <id column="id" property="id"/>
      <result column="name" property="name"/>
      <result column="email" property="email"/>
      <result column="address" property="address"/>
      <result column="account" property="account"/>
      <result column="linkName" property="linkName"/>
      <result column="linePhone" property="linePhone" jdbcType="CHAR" />
      <result column="status" property="status"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
      id,
      name,
      email,
      address,
      account,
      linkName,
      linePhone,
      status
  </sql>
  
  <!--根据Id查询-->
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
      select <include refid="Base_Column_List" /> from supplier where id = #{id}
  </select>
  
  
  <!-- 多条件查询 -->
  <select id="findBySelective" resultMap="BaseResultMap" parameterType="com.jhy.plateform.query.SupplierQuery">
      select <include refid="Base_Column_List" /> from supplier
      <trim prefix="where" prefixOverrides="and |or ">

          <if test="keyWords != null and keyWords != ''">
              <bind name="likeKeyWords" value="'%' + _parameter.keyWords + '%'" />
              and name like #{likeKeyWords}
          </if>
          <if test="name != null and name != ''">
              <bind name="likeName" value="'%' + _parameter.name + '%'" />
              and name like #{likeName}
          </if>
      </trim>
      order by id DESC
  </select>
  
  
  <!-- 删除 -->
  <delete id="deleteById" parameterType="java.lang.String" >
      delete from supplier where id = #{id}
  </delete>
  
  <!-- 批量删除 -->
  <delete id="deleteByIds" parameterType="java.lang.String">
      delete from supplier where id in
      <foreach item="id" collection="array" open="(" separator="," close=")">
          #{id}
      </foreach>
  </delete>
  
  <!--部分字段允许为空-->
  <insert id="add" parameterType="com.jhy.plateform.domain.Supplier" >
    insert into supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
        id,
        name,
        email,
        address,
        account,
        linkName,
        linePhone,
        status
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{id},
        #{name},
        #{email},
        #{address},
        #{account},
        #{linkName},
        #{linePhone,jdbcType=CHAR},
        #{status}
    </trim>
  </insert>
  
  <!--更新--> 
  <update id="update" parameterType="com.jhy.plateform.domain.Supplier" >
      update supplier
      <set>
          <if test="name != null and name != ''" >
              name = #{name},
          </if>
          <if test="email != null and email != ''" >
              email = #{email},
          </if>
          <if test="address != null and address != ''" >
              address = #{address},
          </if>
          <if test="account != null and account != ''" >
              account = #{account},
          </if>
          <if test="linkName != null and linkName != ''" >
              linkName = #{linkName},
          </if>
          <if test="linePhone != null and linePhone != ''" >
              linePhone = #{linePhone,jdbcType=CHAR},
          </if>
          <if test="status != null" >
              status = #{status}
          </if>
      </set>
      where id = #{id}
  </update>
	
</mapper>